.container{
    height: 900px;
    width: 900px;
    background-color: darkblue;

}
.container2{
    height: 900px;
    width: 900px;
    background-color: darkgoldenrod;
}
    .container3{
        height: 900px;
        width: 900px;
        background-color: royalblue;
    }
.first{
    height: 300px;
    width: 300px;
    background-color: darkgreen;
    
    
}
.second{
    height: 300px;
    width: 300px;
    background-color: darkmagenta;

    
    
}
.third{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
}
