.para{
    width: 200px;
    height: 200px;
    padding: 200px;
    border: 50px solid;background-color: chartreuse;
    border-radius: 500px 500px 500px 500px;
    background-color: rgb(152, 167, 167);

}

    
 