.first{
    font-size: xx-large;
    
}
.second{
    height: 400px;
    width: 400px;
    background-color: blue;
    font-size: larger;
    
    border: 50px solid;background-color: crimson;
    position: relative;
    left: 1000px;
    
}
.third{
    height: 400px;
    width: 400px;
    background-color: darkmagenta;
    font-size:x-large;
    border: 50px solid;
    position: relative;
    bottom: 500px;
    
}
.fourth{
    font-size: xx-large;
    position: relative;
    bottom: 500px;
}
.fifth{
    position: relative;
    left: 350px;
    bottom: 600px;
    

 
 
 
}
input{
    width: 300px;
    height: 30px;
}
.image{
    margin-bottom: 1200px;
    margin-left: 500px;
}

